div.row {
    text-align: center;
    text-align: -webkit-center;
}

div.icons-error {
    margin-top: 130px;
    margin-bottom: 30px;
    font-size: 75px;
    color: white;
    background-color: black;
    width: 200px;
    padding: 25px;
    border-radius: 200px;

}

.const-title1 {
    margin: 0;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 30px;
    color: white;
    padding: 10px;
    width: 450px;
}

.const-title2 {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 40px;
    background-color: black;
    color: gray;
    padding: 5px;
    width: 450px;
    margin-top: -10px;
    margin-bottom: 100px;
}