<div class="container">
    <div class="row">
        <div class="col-lg-12">
            <div class="row">
                <div class="col-sm-12">
                    <div class="icons-error">
                        <i class="fas fa-user-astronaut"></i>
                    </div>
                </div>
                <div class="col-sm-12">
                    <h2 class="const-title1">this page was</h2>
                    <h1 class="const-title2">NOT FOUND</h1>
                </div>
                <div class="col-sm-12">
                    <button class="btn btn-success" href="#" [routerLink]="[ '/home' ]">Go back to home page</button>
                </div>
            </div>
        </div>
    </div>
</div>