<div class="container">
    <div class="row">
        <div class="col-sm-12">
            <h1>Hello and welcome to my web page.</h1>
            <h3>I am a brazilian-lithuanian living in Vilnius for almost 10 years. My tragetory as a web developer started in Barclays 1,5 years ago as Junior Web Developer. </h3>
        </div>
        <div class="col-sm-12">
            <div class="row first-row">
                <div class="col-lg-4 col-md-12 square-one">
                    <p class="text-justify"><i class="fas fa-cogs fa-icon-one"></i> This web page was created based on Angular 6 technology. I am still learning more about web development and, hopefully, this is only the beginning.</p>
                </div>
                <div class="col-lg-4 col-md-12">
                    <p class="text-justify"><i class="fas fa-file-code fa-icon-one"></i> Web Development is a fascinating field to be explored and mastered. There are many technologies available today and, the most important part, they are all for free.</p>
                </div>
                <div class="col-lg-4 col-md-12">
                    <p class="text-justify"><i class="fas fa-code-branch fa-icon-one"></i> The community is really supportive and you will never feel alone in this matter. All you have to do is embrace the idea of progressing daily and, soon enough, you are a developer.</p>
                </div>
            </div>
        </div>
    </div>
</div><br />